//LOGO
.logo{
    height: 3.5rem;
    margin-left: 2rem;
}

//SEARCH
.search{
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__input{
        background-color: var(--color-grey-light-2);
        padding: .7rem 2rem;
        border-radius: 2rem;
        border: none;
        width: 90%;
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        transition: all .3s;
        margin-right: -3rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__icon{
        background-color: var(--color-grey-light-3);
    }

    &__icon{
        border: none;
        background-color: var(--color-grey-light-2);
        transition: all .3s;
        cursor: pointer;

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__svg{
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark-3);
    }
}


//NAV-USER
.user-nav{
    align-self: stretch;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & > *{
        border: 1px solid yellow;
        cursor: pointer;
        padding: 0 2rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__icon{
        &--svg{
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &__user{

        &--photo{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
        }
    }
}